RewriteEngine On

RewriteCond %{HTTP_HOST} ^sales\.datagroup\.in [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://sales.datagroup.in/$1 [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]